<div class="holiday-table-container">
  <div class="holiday-toggle-container my-3">
    <button (click)="setGroupBy('month')" [class.active]="groupBy === 'month'">Group by Month</button>
    <button (click)="setGroupBy('year')" [class.active]="groupBy === 'year'">Group by Year</button>
    <button class="home-btn" routerLink="/empprofile">🏠 Home</button>
  </div>

  <ng-container *ngFor="let group of groupedHolidays | keyvalue">
    <!-- <h4 class="month-heading">{{ group.key }}</h4> -->
    <h4 class="month-heading">
      {{ group.key.split('-')[0] }} - {{ monthNames[+group.key.split('-')[1]] }}
    </h4>

    <div class="holiday-table-wrapper">
      <table class="holiday-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let holiday of group.value">
            <td>{{ holiday.date | date: 'fullDate' }}</td>
            <td>{{ holiday.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
